
/** 
    This file stores the variables & mixins 
    used throught out the various stylesheets
    in this website.
**/
    
$background: #1A1D2D;
$primary: #4a73c9;

$button-background-default: $background;
$button-background-hover: #2B2F44;
$button-background-active: $primary;

$button-text-default: #9F9F9F;
$button-text-active: white;

$extra-link-colour: #343534;

@mixin underline() {
    // Target the pseudo element before the element
    &::before {
      /* 
        This pseudo element is used to create the 
        underline effect that is under the title
      */
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 120%;
      width: 80%;
      height: 4px;
      background-color: $primary;
    }
  }
  