
/** 
    This file stores the variables used
    throught out the various stylesheets in
    this website.
**/
    
$background: #1A1D2D;
$primary: #4a73c9;

$button-background-default: $background;
$button-background-hover: #2B2F44;
$button-background-active: $primary;

$button-text-default: #9F9F9F;
$button-text-active: white;
